.info2Frame {
    width: calc(100vw - 385px);
    height: 100%;
    margin: 0;
    overflow: hidden;
    order: 2;
    background: url(https://firebasestorage.googleapis.com/v0/b/raul-s-hardware-store.appspot.com/o/assets%2Fistockphoto-477828354-612x612.jpg?alt=media&token=5a630d20-9a17-4720-b496-23842afc8a26) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    -webkit-box-align: inherit;
    align-items: inherit;
    position: absolute;
    left: 385px;
  }