#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 250px;
  border-radius: 6px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin-left: 1vw;
}

#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url("src/assets/g-logo.png") transparent 5px 50% no-repeat;
  background-size: 50% 50%;
  background-position: 1vw;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-left: 4vw;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 42px;
  font-size: 16px;
  color: rgb(28, 45, 56);
  font-weight: normal;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}
