.infoFrame {
    width: calc(100vw - 385px);
    height: 100%;
    margin: 0;
    overflow: hidden;
    order: 2;
    background: url(https://firebasestorage.googleapis.com/v0/b/raul-s-hardware-store.appspot.com/o/assets%2Fistockphoto-1323082723-170667a.jpg?alt=media&token=9e12d405-bf9d-4272-8927-832ac84fcea2) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    -webkit-box-align: inherit;
    align-items: inherit;
    position: absolute;
    left: 385px;
  }
  
  