.loginFrame {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: auto;
  order: 2;
}

.formLogin {
  flex: 1 0 auto;
  margin: 25px 0px 0px 25px;
}

.headerLogin {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  -webkit-box-pack: start;
  justify-content: start;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 5px;
  letter-spacing: -0.3px;
  font-family: "MongoDB Value Serif", "Times New Roman", serif;
  color: rgb(0, 104, 74);
}

.msg1Login {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-family: "MongoDB Value Serif", "Times New Roman", serif;
  color: rgb(0, 104, 74);
}

#name {
  padding: 1vh;
}

.orLogin {
  width: 300px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  content: "";
  flex: 0 1 100%;
}

.orLogin::before {
  content: "";
  flex: 0 1 100%;
  border-bottom: 1px solid rgb(193, 199, 198);
  margin: 15px 0px;
  transform: translateY(50%);
}

.orLogin::after {
  content: "";
  flex: 0 1 100%;
  border-bottom: 1px solid rgb(193, 199, 198);
  margin: 15px 0px;
  transform: translateY(50%);
}

.orinLogin {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  width: 300px;
  color: rgb(92, 108, 117);
  text-align: center;
  transform: translateY(-10%);
}

.btnLoginText {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 0px 12px;
  gap: 6px;
}

.btnLoginText2 {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 0px 12px;
  gap: 6px;
  color: rgb(255, 255, 255);
}

.btnLogin {
  pointer-events: auto;
  height: 32px;
  width: 90px;
  font-size: 15px;
  margin-top: 48px;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  transition: all 150ms ease-in-out 0s;
  position: relative;
  text-decoration: none;
  z-index: 0;
  font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-radius: 6px;
  background-color: rgb(232, 237, 235);
  border: 1px solid rgb(193, 199, 198);
  color: rgb(136, 147, 151);
  font-size: 13px;
  font-weight: 500;
  height: 36px;
}

.btnLogin2 {
  pointer-events: auto;
  height: 32px;
  width: 90px;
  font-size: 15px;
  margin-top: 48px;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  transition: all 150ms ease-in-out 0s;
  position: relative;
  text-decoration: none;
  z-index: 0;
  font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 89, 63);
  border-color: rgb(0, 89, 63);
  box-shadow: rgb(192 250 230) 0px 0px 0px 3px;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
}

.registerLogin {
  display: inline;
  text-align: start;
  margin: 15px;
  color: rgb(28, 45, 56);
  font-size: 14px;
}

.registerLink {
  display: inline;
  text-align: start;
  margin: 10px;
  font-size: 14px;
  display: inline;
  text-decoration: none;
  color: rgb(1, 107, 248);
}

.checked {
  width: 8%;
  height: 8%;
  margin-left: 5px;
}

.wrong {
  width: 8%;
  height: 8%;
  margin-left: 5px;
}

.emailLogin {
  border: none;
  margin: 0px 0px 20px;
  padding: 0px;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

.labelLogin {
  font-size: 13px;
  color: rgb(61, 79, 88);
  position: relative;
  height: 16px;
  width: 36px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.divEmailLogin {
  width: 300px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.emailFrame {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 0;
}

.inputFrame {
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  position: relative;
  z-index: 0;
  width: 100%;
}

.inputEmail {
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  font-weight: normal;
  border: 1px solid rgb(136, 147, 151);
  transition: border-color 150ms ease-in-out 0s;
  z-index: 1;
  outline: none;
  color: rgb(0, 30, 43);
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  height: 36px;
  padding-left: 12px;
  font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-radius: 6px;
  padding-right: 12px;
}

.inputPassword {
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  font-weight: normal;
  border: 1px solid rgb(136, 147, 151);
  transition: border-color 150ms ease-in-out 0s;
  z-index: 1;
  outline: none;
  color: rgb(0, 30, 43);
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  height: 36px;
  padding-left: 12px;
  font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border-radius: 6px;
  padding-right: 12px;
}