.mainLogin {
  display: block;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.rightLogin {
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.infoFrame {
  width: calc(100vw - 385px);
  height: 100%;
  margin: 0;
  overflow: hidden;
  order: 2;
  background: url(src/assets/istockphoto-1323082723-170667a.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  -webkit-box-align: inherit;
  align-items: inherit;
  position: absolute;
  left: 385px;
}

